<!-- home banner starts -->
<div id="home" class="homeinfo">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="fronttext">
                <h2 class="bgcolor  animated fadeInUpBig">
                    <span class="glyphicon glyphicon-headphones"></span> DJ Kranks</h2>
                <br>
                <p class=" animated fadeInUp">Best DJ in town. There are other and natural causes tending toward a diminution of population, but nothing
                    contributes so greatly to this end as the fact that no male or female Martian is ever voluntarily without
                    a weapon of destruction.</p>
            </div>
        </div>

        <div class="col-sm-5 col-xs-12 col-sm-offset-1">
            <div class="player">
                <img src="assets/img/dj.png" class="graphics hidden-xs  animated fadeInRightBig" alt="dj" />
                <iframe width="100%" height="170" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/66392700&amp;color=f2ab00&amp;theme_color=000000&amp;auto_play=false&amp;hide_related=true&amp;show_artwork=false"></iframe>
            </div>
        </div>

    </div>
</div>
<!-- home banner ends -->