<menu [routeName]="currentRoute"></menu>

<!-- overlay -->
<div class="container overlay">
    <router-outlet (activate)="onRouterActivate($event)"></router-outlet>
</div>
<!-- overlay -->

<!-- background slider -->
<div id="myCarousel" class="carousel slide hidden-xs">
    <div class="carousel-inner">
        <div class="active item">
            <img src="assets/img/back1.jpg" alt="" />
        </div>
        <div class="item">
            <img src="assets/img/back2.jpg" alt="" />
        </div>
        <div class="item">
            <img src="assets/img/back3.jpg" alt="" />
        </div>
    </div>
</div>
<!-- background slider -->

<!-- Footer Starts -->
<div id="footer">
    <div class="container">
        Copyright 2017 DJ KRANKS.
    </div>
</div>
<!-- # Footer Ends -->